<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="toEmail" value="user@server.com"/>
    <add key="fromEmail" value="sender@gmail.com"/>
    <add key="userName" value="sender@gmail.com"/>
    <add key="password" value="password"/>
  </appSettings>
</configuration>